---
import Layout from "../../layouts/BlogPost.astro";
import MessageRenderer from "../../components/MessageRenderer.astro";
import { getPostsFromDate } from "../../discord";
import { canDisplayPost, formatReadableDate } from "../../utils";
import { formatISODate } from "../../utils";
import ArrowLeft from "../../icons/arrow-left.astro";
import ArrowRight from "../../icons/arrow-right.astro";
import AttachmentRenderer from "../../components/AttachmentRenderer.astro";
import { parser } from "../../parser";

Astro.response.headers.set("Cache-Control", "public, max-age=3600");

const { today } = Astro.params;

const parsedDate: Date = new Date(`${today}T00:00:00Z`);

if (!canDisplayPost(parsedDate)) {
  return Astro.redirect("/404", 404);
}

const yesterday = new Date(+parsedDate - 24 * 60 * 60 * 1000);
const tomorrow = new Date(+parsedDate + 24 * 60 * 60 * 1000);

const messages = await getPostsFromDate(parsedDate);

const parsedMessages = messages.map((message, index) => {
  const ROLE_TAG_PREFIX = `<@&${process.env.DISCORD_ROLE_TAG}>`;
  const trimmedMessage = message.content.trim();
  const trimmedMessageNoPrefix = trimmedMessage.startsWith(ROLE_TAG_PREFIX)
    ? trimmedMessage.slice(ROLE_TAG_PREFIX.length).trim()
    : trimmedMessage;

  return {
    ...message,
    parsedContent: parser(trimmedMessageNoPrefix, { inline: true }),
    // Author should be shown when:
    // - it's the first post
    // - author is different from previous one
    // - message starts with role ping (this is usually for MtG posts,
    //   which should be counted as a separate "post")
    showAuthor:
      index === 0 ||
      message.author.id !== messages.at(index - 1)?.author.id ||
      trimmedMessage.startsWith(ROLE_TAG_PREFIX),
  };
});
---

<Layout
  title={formatReadableDate(parsedDate)}
  description="Lorem ipsum dolor sit amet"
  >{
    parsedMessages.length === 0 && (
      <p style="text-align: center; padding: 3em 0em;">
        No posts found for this date.
      </p>
    )
  }{
    parsedMessages.map((message) => (
      <>
        {message.showAuthor && (
          <div class="author">
            {!message.authorOverride && (
              <img
                class="author-avatar"
                src={message.author.avatarURL({ size: 64, forceStatic: true })}
              />
            )}
            <p>{message.authorOverride || message.author.displayName}</p>
          </div>
        )}
        {!!message.content && (
          <p><MessageRenderer ast={message.parsedContent} /></p>
        )}
        <div class="attachments">
          {message.attachments.map((attachment) => (
            <AttachmentRenderer attachment={attachment} />
          ))}
        </div>
      </>
    ))
  }<nav aria-label="Post navigation" class="post-nav">
    {
      canDisplayPost(yesterday) ? (
        <a href={`/archive/${formatISODate(yesterday)}`}>
          <ArrowLeft />
          <div>
            <>
              <span>Yesterday</span>
              <time datetime={formatISODate(yesterday)}>{formatReadableDate(yesterday)}</time>
            </>
          </div>
        </a>
      ) : (
        <div />
      )
    }
    {
      canDisplayPost(tomorrow) ? (
        <a href={`/archive/${formatISODate(tomorrow)}`}>
          <>
            <div style="text-align: right">
              <>
                <span>Tomorrow</span>
                <time datetime={formatISODate(tomorrow)}>{formatReadableDate(tomorrow)}</time>
              </>
            </div>
            <ArrowRight />
          </>
        </a>
      ) : (
        <div />
      )
    }
  </nav></Layout
>

<style is:global>
  .author {
    display: flex;
    align-items: center;
    gap: 1ch;

    border-radius: 8px;
    background-color: var(--accent);
    padding: 1ch;
  }
  .author img {
    border-radius: 1000px;
    width: 2em;
    height: 2em;
  }
  .author p {
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .prose {
    white-space: pre-wrap;
  }
  .prose p {
    margin-bottom: 0;
  }

  .post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }
  .post-nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 1ch;

    color: white;
    background-color: oklch(from var(--accent) 0.2 0.2 h);
    padding: 0 1ch;
    border-radius: 1ch;
    transition: background-color 0.05s;
  }
  .post-nav a:hover {
    background-color: oklch(from var(--accent) 0.3 0.3 h);
  }
  .post-nav a > div {
    display: flex;
    flex-direction: column;
  }
  .post-nav a time {
    font-weight: bold;
  }

  .attachments {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1rem;
  }
</style>
