---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, GAPP_START_DATE } from "../consts";
import { canDisplayPost, formatISODate, range } from "../utils";

// Prepare data to create a calendar
const TODAY = new Date();
const years = range(GAPP_START_DATE.getFullYear(), TODAY.getFullYear());

const calendar = years.map((year, i) => {
  const startMonth = i === 0 ? GAPP_START_DATE.getMonth() : 0;
  const endMonth = i === years.length - 1 ? TODAY.getMonth() : 11;

  const months = range(startMonth, endMonth);

  return {
    year,
    months: months.map((month) => {
      const weeks: (number | null)[][] = [[]];
      const lastDayOfMonth = new Date(year, month + 1, 0).getDate();

      for (const day of range(1, lastDayOfMonth)) {
        const dayOfWeek = new Date(year, month, day).getDay();
        if (dayOfWeek === 0 && day !== 1) {
          weeks.push([]);
        }

        if (day === 1) {
          // Add padding to start of month if needed
          weeks.at(-1)?.push(...(Array.from({ length: dayOfWeek }) as null[]));
        }
        weeks.at(-1)?.push(day);
        if (day === lastDayOfMonth) {
          // Add padding to end of month
          weeks
            .at(-1)
            ?.push(...(Array.from({ length: 6 - dayOfWeek }) as null[]));
        }
      }

      return {
        monthName: new Date(year, month, 1).toLocaleString("en-US", {
          month: "short",
        }),
        monthNumber: month,
        weeks,
      };
    }),
  };
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Archive | ${SITE_TITLE}`}
      description="The full historical archive of GAPP."
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>Archive</h1>

      {
        calendar.map(({ year, months }) => {
          return (
            <section class="calendar-year">
              <h2>{year}</h2>

              <div class="calendar-grid">
                {months.map(({ monthName, monthNumber, weeks }) => {
                  return (
                    <div class="calendar-month">
                      <h3>{monthName}</h3>

                      <table
                        class="calendar"
                        tabindex="0"
                        role="grid"
                        aria-label={new Date(
                          year,
                          monthNumber,
                          1,
                        ).toLocaleString("en-US", {
                          month: "long",
                          year: "numeric",
                        })}
                      >
                        <thead>
                          <tr>
                            <th aria-label="Sunday">S</th>
                            <th aria-label="Monday">M</th>
                            <th aria-label="Tuesday">T</th>
                            <th aria-label="Wednesday">W</th>
                            <th aria-label="Thursday">T</th>
                            <th aria-label="Friday">F</th>
                            <th aria-label="Saturday">S</th>
                          </tr>
                        </thead>
                        <tbody>
                          {weeks.map((week) => (
                            <tr>
                              {week.map((day) => {
                                if (!day) return <td aria-disabled="true" />;

                                const currentDate = new Date(
                                  year,
                                  monthNumber,
                                  day,
                                );
                                if (!canDisplayPost(currentDate)) {
                                  return (
                                    <td
                                      style="opacity: 0.5"
                                      aria-disabled="true"
                                    >
                                      {day}
                                    </td>
                                  );
                                }

                                return (
                                  <td>
                                    <a
                                      href={`/archive/${formatISODate(currentDate)}`}
                                      target="_blank"
                                      tabindex="-1"
                                      data-day={formatISODate(currentDate)}
                                      aria-label={new Date(
                                        year,
                                        monthNumber,
                                        day,
                                      ).toLocaleString("en-US", {
                                        weekday: "long",
                                        day: "numeric",
                                        month: "long",
                                        year: "numeric",
                                      })}
                                    >
                                      {day}
                                    </a>
                                  </td>
                                );
                              })}
                            </tr>
                          ))}
                        </tbody>
                      </table>
                    </div>
                  );
                })}
              </div>
            </section>
          );
        })
      }
    </main>
    <Footer />
  </body>
</html>

<style>
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }

  .calendar {
    text-align: center;
  }
  .calendar th {
    background-color: #ddd;
  }
  .calendar th:first-child {
    background-color: oklch(80% 30% 20deg);
  }
  .calendar th:last-child {
    background-color: oklch(80% 30% 300deg);
  }
  .calendar td:first-child {
    background-color: oklch(90% 20% 20deg);
  }
  .calendar td:last-child {
    background-color: oklch(90% 20% 300deg);
  }

  .calendar a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: color 0.2s;
    background-color: transparent;
  }
  .calendar a:hover,
  .calendar a:focus-visible {
    background-color: #0001;
  }

  /* TODO: align the grid such that december is always at bottom right */
</style>

<script>
  // fancy keyboard navigation for calendars
  import { formatISODate } from "../utils";

  window.addEventListener("load", () => {
    const calendars: NodeListOf<HTMLTableElement> =
      document.querySelectorAll(".calendar");
    for (const calendar of calendars) {
      calendar.addEventListener("focus", () => {
        const firstDay = calendar.querySelector("a");
        firstDay?.focus();
      });

      for (const link of calendar.querySelectorAll("a")) {
        const handleKeyDown = (e: KeyboardEvent) => {
          const el = e.target as HTMLAnchorElement;
          const elementDate = new Date(el.dataset.day as string);
          const ONE_DAY = 24 * 60 * 60 * 1000;

          /**
           * Navigation:
           *
           * Right     : Next day
           * Left      : Prev day
           * Up        : Prev week, same weekday
           * Down      : Next week, same weekday
           * Tab       : Next month, same date
           * Shift+Tab : Prev month, same date
           */

          let targetDate = elementDate;
          let ignoreInput = false;

          if (e.key === "ArrowRight") {
            targetDate = new Date(+elementDate + ONE_DAY);
          } else if (e.key === "ArrowLeft") {
            targetDate = new Date(+elementDate - ONE_DAY);
          } else if (e.key === "ArrowDown") {
            targetDate = new Date(+elementDate + 7 * ONE_DAY);
          } else if (e.key === "ArrowUp") {
            targetDate = new Date(+elementDate - 7 * ONE_DAY);
          } else if (e.key === "Tab" && !e.shiftKey) {
            targetDate.setMonth(targetDate.getMonth() + 1);
          } else if (e.key === "Tab" && e.shiftKey) {
            targetDate.setMonth(targetDate.getMonth() - 1);
          } else {
            ignoreInput = true;
          }

          if (!ignoreInput) {
            const targetElement = document.querySelector(
              `.calendar a[data-day='${formatISODate(targetDate)}']`,
            ) as HTMLAnchorElement | null;
            if (targetElement) {
              e.preventDefault();
              targetElement?.focus();
            }
          }
        };

        link.addEventListener("focus", () => {
          link.tabIndex = 0;
          link.addEventListener("keydown", handleKeyDown);
        });
        link.addEventListener("blur", () => {
          link.tabIndex = -1;
          link.removeEventListener("keydown", handleKeyDown);
        });
      }
    }
  });
</script>
